@media (max-width:500px) {
    header {
        padding-top: 0.5em;
        padding-bottom: 2em;
        .head-container-lg {
            display: none;
        }
        .head-container-sm {
            display: block;
            .logo-img {
                color: $black-primary;
                padding-left: 1em;
                font-weight: 700;
                text-transform: uppercase;
            }
            #toggle {
                width: 50px;
                height: 50px;
                // background-color: rgba(green, 0.3);
                display: inline-block;
                position: fixed;
                top: 1.4em;
                right: 0.6em;
                z-index: 2;
            }
            #menu-sm {
                position: fixed;
                background-color: $black-primary;
                top: 0;
                width: 100%;
                height: 100%;
                top: 0;
                z-index: 1;
                display: none;
                padding-top: 7em;
                .logo-img {
                    position: fixed;
                }
                .menu-sm-item-block {
                    position: relative;
                    color: $primary-color;
                    text-align: center;
                    text-transform: uppercase;
                    font-size: 1.2em;
                    margin-bottom: 1em;
                    letter-spacing: 4px;
                    span:hover {
                        color: $green;
                    }
                }
                .menu-sm-item-list {
                    color: $primary-color;
                    display: none;
                    text-transform: uppercase;
                    margin-bottom: 1em;
                    li {
                        letter-spacing: 1px;
                        text-align: center;
                        padding-top: 1em;
                        padding-bottom: 0.5em;
                        font-size: 0.8em;
                        a {
                            text-decoration: none;
                            color: inherit;
                            &:active {
                                background-color: none;
                                color: inherit;
                            }
                            &:focus {
                                background-color: none;
                            }
                        }
                        &:hover {
                            background-color: rgba($black, 0.8);
                        }
                    }
                }
            }
        }
        @keyframes menu_sm_background {
            from {
                height: 0;
            }
            to {
                height: 100%;
            }
        }
        @keyframes menu_sm_background_rev {
            from {
                height: 100%;
            }
            to {
                height: 0;
            }
        }
    }
    #mob-slider {
        position: relative;
        height: 400px;
        // background-color: $green;
        overflow: hidden;
        .main {
            display: block;
            width: 100%;
        }
        .mob-slide {
            display: none;
            img {
                width: 100%;
                height: 100%;
            }
        }
    }
    #hero-img-wrapper {
        display: none;
    }
    #menu {
        display: none;
    }
}