@media (max-width:500px) {
    header {
        padding-top: 0.5em;
        padding-bottom: 2em;
        .head-container-lg {
            display: none;
        }
        .head-container-sm {
            display: block;
            .logo-img {
                color: $black-primary;
                padding-left: 1em;
                font-weight: 700;
                text-transform: uppercase;
            }
            #toggle {
                width: 50px;
                height: 50px;
                // background-color: rgba(green, 0.3);
                display: inline-block;
                position: fixed;
                top: 1.4em;
                right: 0.6em;
                z-index: 2;
            }
            #menu-sm {
                position: fixed;
                background-color: $black-primary;
                top: 0;
                width: 100%;
                height: 100%;
                top: 0;
                z-index: 1;
                display: none;
                padding-top: 7em;
                .logo-img {
                    position: fixed;
                }
                .menu-sm-item-block {
                    position: relative;
                    color: $primary-color;
                    text-align: center;
                    text-transform: uppercase;
                    font-size: 1.2em;
                    margin-bottom: 1em;
                    letter-spacing: 4px;
                    span:hover {
                        color: $green;
                    }
                    a {
                        text-decoration: none;
                        color: $primary-color;
                    }
                    a:hover {
                        color: $green;
                    }
                }
                .menu-sm-item-list {
                    color: $primary-color;
                    display: none;
                    text-transform: uppercase;
                    margin-bottom: 1em;
                    li {
                        letter-spacing: 1px;
                        text-align: center;
                        padding-top: 1em;
                        padding-bottom: 0.5em;
                        font-size: 0.8em;
                        background-color: rgba($black, 0.9);
                        a {
                            text-decoration: none;
                            color: inherit;
                            &:active {
                                background-color: none;
                                color: inherit;
                            }
                            &:focus {
                                background-color: none;
                            }
                        }
                        &:hover {
                            background-color: rgba($primary-color, 0.4);
                        }
                    }
                }
            }
        }
    }
    @keyframes menu_sm_background {
        from {
            height: 0;
        }
        to {
            height: 100%;
        }
    }
    @keyframes menu_sm_background_rev {
        from {
            height: 100%;
        }
        to {
            height: 0;
        }
    }
    #mob-slider {
        position: relative;
        height: 400px;
        // background-color: $green;
        overflow: hidden;
        .mob-slide {
            display: none;
            img {
                width: 100%;
                height: 100%;
            }
        }
        .main {
            display: block;
            width: 100%;
        }
        .text {
            top: 300px;
            position: absolute;
            text-transform: uppercase;
            letter-spacing: 3px;
            font-size: 20px;
            color: $black;
            background-size: 100% 100%;
            height: 30px;
            background-color: $primary-color;
            padding: 12px;
            font-weight: 400;
            overflow: hidden;
        }
        .text-1 {
            animation: text-anime-1 500ms ease-in forwards;
        }
        .text-2 {
            animation: text-anime-2 500ms ease-in forwards;
        }
        .text-3 {
            animation: text-anime-3 500ms ease-in forwards;
        }
    }
    @keyframes text-anime-1 {
        0% {
            height: 100px;
            line-height: 100px;
        }
        100% {
            height: 30px;
            line-height: 30px;
        }
    }
    @keyframes text-anime-2 {
        from {
            width: 0%;
            font-size: 0px;
            opacity: 0;
        }
        to {
            width: 80vw;
            font-size: 20px;
            opacity: 1;
        }
    }
    @keyframes text-anime-3 {
        from {
            height: 0%;
            font-size: 0px;
            transform: scale(0);
        }
        to {
            height: 30px;
            font-size: 20px;
            transform: scale(1);
        }
    }
    #hero-img-wrapper {
        display: none;
    }
    #menu {
        display: none;
    }
}