@media (max-width:768px) {
    header {
        padding-top: 0.5em;
        padding-bottom: 2em;
        .head-container-lg {
            display: none;
        }
        .head-container-sm {
            display: block;
            .logo-img {
                color: $black-primary;
                padding-left: 1em;
                font-weight: 700;
                text-transform: uppercase;
                h1 {
                    color: inherit;
                }
            }
        }
    }
    #hero-img-wrapper {
        display: none;
    }
    #menu {
        display: none;
    }
}