#mob-slider {
    position: relative;
    height: 400px;
    // background-color: $green;
    overflow: hidden;
    .mob-slide {
        display: none;
        img {
            width: 100%;
            height: 100%;
        }
    }
    .main {
        display: block;
        width: 100%;
    }
    .text {
        top: 300px;
        position: absolute;
        text-transform: uppercase;
        letter-spacing: 3px;
        font-size: 20px;
        color: $black;
        background-size: 100% 100%;
        height: 30px;
        background-color: $primary-color;
        padding: 12px;
        font-weight: 400;
        overflow: hidden;
    }
    .text-1 {
        animation: text-anime-1 500ms ease-in forwards;
    }
    .text-2 {
        animation: text-anime-2 500ms ease-in forwards;
    }
    .text-3 {
        animation: text-anime-3 500ms ease-in forwards;
    }
}

@keyframes text-anime-1 {
    0% {
        height: 100px;
        line-height: 100px;
    }
    100% {
        height: 30px;
        line-height: 30px;
    }
}

@keyframes text-anime-2 {
    from {
        width: 0%;
        font-size: 0px;
        opacity: 0;
    }
    to {
        width: 80vw;
        font-size: 20px;
        opacity: 1;
    }
}

@keyframes text-anime-3 {
    from {
        height: 0%;
        font-size: 0px;
        transform: scale(0);
    }
    to {
        height: 30px;
        font-size: 20px;
        transform: scale(1);
    }
}